footer {
    border-top: 5px solid $color-hyperlink-border-text_main;
    bottom: 0;
    height: auto;
    .container {
        display: flex;
        justify-content: center;
        ul {
            display: flex;
            li {
                margin: 10px 35px;
            }
        }
    }
}