footer {
    border-top: 5px solid $color-hyperlink-border-text_main;
    position: fixed;
    bottom: 0;
    width: 100%;
    ul {
        display: flex;
        justify-content: center;
        li {
            margin: 10px 35px;
        }
    }
}