header {
   border-bottom: 5px solid $color-hyperlink-border-text_main;
   height: 75px;
   .container {
      display: flex;
      justify-content: space-between;
      ul {
         display: flex;
         li {
            margin: 0 35px;
         }
      }
   }
}