header, footer {
    background-color: $color-background_header_footer;
    font-size: 20px;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    @media (max-width: 1440px) {
        .container {
            width: 100%;
        }
     }
}