header {
   border-bottom: 5px solid $color-hyperlink-border-text_main;
   display: flex;
   justify-content: space-between;
   img {
      margin-left: 50px;
      height: 75px;
   }
   ul {
      margin-right: 44px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 300px;
      li {
         margin: 0 35px;
      }
   }
}