header {
   border-bottom: 5px solid $color-hyperlink-border-text_main;
   top: 0;
   .container {
      display: flex;
      justify-content: space-between;
      @media (max-width: 1024px) {
         width: 100%;
      }
      ul {
         display: flex;
         li {
            margin: 0 35px;
         }
      }
   }
}