body {
    font-family: Arial, Verdana, 'Times New Roman', Tahoma, sans-serif;
    margin: 0;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    main {
        background-image: url(../pictures/building_1.jpg);
        background-size: cover;
        flex-grow:1;
    }
    p, a {
        color: $color-text-background_main;
    }
    a {
        text-decoration: none;
    }
    a:hover {
        color: $color-hyperlink-border-text_main;
    }
    p {
        margin: 0;
    }
    ul {
        list-style: none;
        padding: 0;
    }
    @media (min-width: 1440px) {
        .container {
            width: 1440px;
        }
    }
}