body {
    font-family: Arial, Verdana, 'Times New Roman', Tahoma, sans-serif;
    background-image: url(../pictures/building_1.jpg);
    background-size: cover;
    margin: auto;
    p, a {
        color: $color-text;
    }
    a {
        text-decoration: none;
    }
    a:hover {
        color: $color-hyperlink-border;
    }
    p {
        margin: 0;
    }
    ul {
        list-style: none;
        padding: 0;
    }
}