.main__inscription, .main__inscription--form p, .main__inscription .container {
    display: flex;
    flex-direction: column;
}

.main__inscription {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    .container {
        align-items: center;
    }
    &--textend {
        margin-top: 20px;
    }
    &--form {
        width: 500px;
        background-color: $color-text-background_main;
        border: 5px solid $color-hyperlink-border-text_main;
        h1 {
            color: $color-hyperlink-border-text_main;
            text-align: center;
            margin-bottom: 60px;
        }
        p {
            color: $color-text-form;
            margin: 20px;
            input {
                border: none;
                border-bottom: 2px solid $color-hyperlink-border-text_main;
            }
        }
        label {
            margin-bottom: 15px;
        }
        &--asterisk {
            color: $color-asterisk;
        }
        &--group {
            display: flex;
            justify-content: center;
            &--button {
                width: 150px;
                height: 40px;
                margin: 0 20px 20px 20px;
                background-color: $color-background_button;
                border: 3px solid $color-hyperlink-border-text_main;
                border-radius: 5px;
            }
        }
    }
}