$color-background_header_footer: rgba(160, 160, 160, 1);
$color-text-background_main: rgba(255, 255, 255, 1);
$color-hyperlink-border-text_main: rgba(39, 72, 128, 1);
$color-background_button: rgba(190, 209, 243, 1);
$color-asterisk: rgba(255, 66, 66, 1);
$color-text-form: rgba(107, 102, 102, 1);